# -*- coding: utf-8 -*-
# calls setup.py
-e .

# build
build

# doc
sphinx
m2r2
pydata-sphinx-theme
sphinx-copybutton
# nbsphinx
# sphinx-automodapi
docutils==0.18.1

# Linters
pylint





# tests
pytest
pytest-cov

# Useful for Makefile
distro
